docs/api-description.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ServicioPersonalSOA"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://example.com/sensordata">

    <service name="SensorDataService">
        <port name="SensorDataPort" binding="tns:SensorDataBinding">
            <soap:address location="http://localhost:5000/webservice"/>
        </port>
    </service>

    <types>
        <xsd:schema targetNamespace="http://example.com/sensordata">
            <xsd:complexType name="SensorData">
                <xsd:sequence>
                    <xsd:element name="Temperature" type="xsd:float"/>
                    <xsd:element name="Humidity" type="xsd:float"/>
                    <xsd:element name="CO2" type="xsd:float"/>
                    <xsd:element name="Volatiles" type="xsd:float"/>
                    <xsd:element name="NumSamples" type="xsd:int"/>
                    <xsd:element name="DateRange" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <message name="GetSensorDataRequest">
        <part name="startDate" type="xsd:string"/>
        <part name="endDate" type="xsd:string"/>
    </message>

    <message name="GetSensorDataResponse">
        <part name="sensorData" type="tns:SensorData"/>
    </message>

    <portType name="SensorDataPortType">
        <operation name="GetSensorData">
            <input message="tns:GetSensorDataRequest"/>
            <output message="tns:GetSensorDataResponse"/>
        </operation>
    </portType>

    <binding name="SensorDataBinding" type="tns:SensorDataPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetSensorData">
            <soap:operation soapAction="http://example.com/sensordata/GetSensorData"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
</definitions>
